body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: red;
}

.header_div{
    background: white;
    color: red;
}

.header_div p{
    font-size: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: cyan;
    letter-spacing: 2px;
}

.main_div button{
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
    width: 130px;
}

.footer{
    position: fixed;
    width: 100%;
    color: aqua;
    background: white;
    bottom: 0;
    font-size: 30px;
    text-align: center;
    line-height: 3;
    text-shadow: 5px 5px 5px grey;
}